:root {
    --primary-color: #deb320;
    --secondary-color: #f2f3f3;
    --background-color: #000000;
    --font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  
body {
  color:white;
}